.navbar-brand{
  /*   position: relative;
    top: 30px;
    left: 30px; */
    display: flex;
    align-items: center;

}

.container-fluid{
    height: 200px;
    font-family: "Futura";
    font-size: 16px;
}

